:root {
    --bg-color: #0D0D1A;
    --secondary-bg-color: #1A1A33;
    --text-color: #E0E0FF;
    --secondary-text-color: #B3B3CC;
    --nav-color: #26264D;
    
    --bg-green: rgba(47, 255, 0, 0.5);
    --bg-red: rgba(254, 25, 25, 0.5);
    --bg-orange: rgba(255, 140, 0, 0.5);
    --bg-blue: rgba(74, 144, 226, 0.5);
    --color-green: rgba(47, 255, 0, 1);
    --color-red: rgba(254, 25, 25, 1);
    --color-orange: rgba(255, 140, 0, 1);
    --color-blue: rgba(74, 144, 226, 1);
}

body {
    margin-top: 10px;
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 20px 25px;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
}

a {
    color: var(--color-blue);
}

h2.sub-title {
    color: var(--color-blue);
    margin-top: -40px;
    margin-left: 3px;
}

h1.title {
    text-transform: uppercase;
    font-size: 50px;
    margin-top: 0px;
    text-align: left;
    color: var(--color-blue);
}

.box {
    background-color: var(--color-blue);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
}

.not button {
    height: 35px;
    border-radius: 10px;
    border: 0;
    padding-inline: 10px;
    background-color: var(--color-blue);
    color: var(--bg-color);
    font-weight: bold;
}

.not button i {
    margin-left: 1em;
}

.not h6 {
    margin-top: 0px;
    margin-left: 10px;
}

select#class {
    text-transform: capitalize;
    width: 50%;
    margin-inline: 25%;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 2.5px 5px;
    background-color: var(--secondary-bg-color);
    color: var(--text-color);
    appearance: none;
}

option {
    background-color: var(--bg-color);
}

.label {
    margin-bottom: 15px;
}

.hidden {
    display: none;
}

.red { background-color: #D02727; }
.orange { background-color: orange; }
.magenta { background-color: #EC22E3; }
.blue { background-color: blue; }
.green { background-color: green; }
.ciano { background-color: #55E1FA; }

.red::after { content: ' - Centrale'; }
.orange::after { content: ' - Erigendo'; }
.magenta::after { content: ' - Scaruffi'; }
.blue::after { content: ' - Bunker'; }
.green::after { content: ' - Ospedale'; }
.ciano::after { content: ' - Piramide'; }

img {
    max-width: 100%;
    border-radius: 10px;
    transition: .3s;
}

iframe {
    max-width: 100%;
    max-height: 250px;
    border-radius: 10px;
}

h4.piano {
    font-size: 25px;
}

.clicked {
    position: absolute;
    width: 95%;
    left: 2.5%;
    top: 35%;
    transition: .3s;
    z-index: 2;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

nav {
    background-color: var(--nav-color);
    margin-bottom: 30px;
    margin-inline: -15px;
    padding: 12px 10px;
    padding-inline: 25px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    gap: 17.5% !important;
    padding-top: 12px;
}

nav a i {
    color: var(--text-color);
    font-size: 20px !important;
}

nav a i.on {
    color: var(--bg-color);
    background-color: var(--text-color);
    padding: 7px;
    margin: -7px;
    border-radius: 50%;
}

footer {
    background-color: var(--secondary-bg-color);
    margin-block: 15px;
    border-radius: 10px;
    padding: 5px;
    padding-inline: 15px;
    margin-inline: -15px;
    color: var(--secondary-text-color);
}