@media screen and (min-width:1200px){
    body{
        margin-inline: 30%;
        align-items: center;
        justify-content: center;
    }
    .box{
        scale: 1.5;
        margin: 50px;
    }
    .grid input,.grid select{
        margin-left: 0;
    }
    .grid-duo{
        display: flex;
        gap: 50px;
        align-items: center;
        justify-content: center;
    }
    .grid-trio{
        margin-left: 25%;
    }
    .valutazioni{
        height: 120px;
        background-color: var(--secondary-bg-color);
        padding: 15px;
        padding-bottom: 45px;
        margin-bottom: 30px;
        margin-right: 20px;
        border-radius: 10px;
    }
    main.materia{
        top: 435px;
        margin-inline: 29%;
    }
    #materia{
        margin-left: 20%;
    }
    .flex{
        margin-left: 35%;
    }
    .translate{
        transform:translateX(-200%);
    }
    .off {
        transform: translateX(-200%);
    }
    .mediaf {
        margin-inline: 40.75%;
    }
    footer h4{
        font-size: 25px;
    }
    footer h5{
        font-size: 15px;
    }
    footer h6{
        font-size: 14px;
    }
    .sub {
        transition: .3s;
        background-color: var(--secondary-bg-color);
        border-radius: 10px;
        width: 147.5%;
        left: -37.5%;
        position: relative;
    }
    .flex{
        margin-left: 0;
    }
    button{
        transition: .3s;
    }
    button:hover{
        cursor: pointer;
        scale: 1.025;
        transition: .3s;
    }
}