:root {
    --bg-color: #0D0D1A;
    --secondary-bg-color: #1A1A33;
    --text-color: #E0E0FF;
    --secondary-text-color: #B3B3CC;
    --nav-color: #26264D;
    
    --bg-green: rgba(47, 255, 0, 0.5);
    --bg-red: rgba(254, 25, 25, 0.5);
    --bg-orange: rgba(255, 140, 0, 0.5);
    --bg-blue: rgba(74, 144, 226, 0.5);
    --color-green: rgba(47, 255, 0, 1);
    --color-red: rgba(254, 25, 25, 1);
    --color-orange: rgba(255, 140, 0, 1);
    --color-blue: rgba(74, 144, 226, 1);
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    align-items: center;
    justify-content: center;
    margin-inline: 15px;
    margin-top: 30px;
    font-family: 'Poppins', sans-serif;
}

aside {
    background-color: trasparent;
    transition: .3s;
    border-radius: 10px;
}

select#orario-select{
    width: 100px;
    text-align: center;
    margin-inline: 35%;
    border-bottom: 2px solid var(--nav-color);
    box-shadow: 0px 0px 10px var(--nav-color);
}

nav {
    background-color: var(--secondary-bg-color);
    color: var(--color-blue);
    margin-bottom: 30px;
    margin-inline: 3px;
    padding: 10px;
    padding-inline: 25px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    gap: 17.5% !important;
    padding-top: 12px;
}

nav a i {
    color: var(--text-color);
    font-size: 20px !important;
}

nav a i.on {
    color: var(--bg-color);
    background-color: var(--text-color);
    padding: 7px;
    margin: -7px;
    border-radius: 50%;
}

.description hr {
    margin-block: 25px;
}

.description h4 {
    margin: 0 !important;
}

.description {
    background-color: var(--secondary-bg-color);
    border-radius: 10px;
    margin-top: 20px;
    padding: 5px;
    padding-inline: 15px;
}

hr {
    margin-block: 0px;
}

.document {
    color: var(--secondary-text-color);
}

.small {
    position: relative;
    scale: .05;
    transition: .3s;
}

.animation-2 {
    width: 160px;
    transition: .3s;
}

.animation-1 {
    width: 250px;
    transition: .3s;
}

.animation-1 i,
.animation-2 i {
    transform: rotate(180deg);
    transition: .3s;
}

.right{
    position: relative;
    transform: translateX(300px);
    transition: .3s;
}

.remove {
    position: relative;
    scale: 0.05;
    transition: .3s;
}

.grid-duo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-bottom: 15px;
}

.grid-trio {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}

.grid-trio input, .grid-trio select {
    width: 25%;
}

details.novita summary{
    font-weight: bold;
    list-style: none;
    text-decoration: underline;
    text-align: center;
    color: var(--color-blue);
    padding-top: 15px;
    cursor: pointer;
}

details.novita li{
    margin-block: -15px;
}

.box {
    width: 160px;
    height: 150px;
    background-color: var(--secondary-bg-color);
    padding: 5px;
    border-radius: 10px;
    text-align: center;
}

.box h4 {
    margin-top: 0em;
}

.scroll {
    display: flex;
    overflow-x: auto;
    margin-bottom: 30px;
    margin-right: -15px;
    scrollbar-width: none;
}

.scroll-2 {
    display: flex;
    overflow-x: auto;
    margin-bottom: 30px;
    margin-inline: -5px;
    scrollbar-width: none;
}

.news {
    min-width: 250px;
    height: 150px;
    margin-right: 10px;
    margin-left: 2px;
    background: var(--nav-color);
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: .3s;
    flex-shrink: 0;
}

.grade-container {
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
}

.grade {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: var(--secondary-bg-color);
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    line-height: 65px;
    font-size: 30px;
    padding: 3px;
}

.event {
    min-width: 160px;
    height: 150px;
    margin-right: 10px;
    margin-left: 2px;
    background: var(--nav-color);
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    transition: .3s;
    flex-shrink: 0;
}

input,
select {
    width: 225px;
    padding: 5px;
    border-radius: 10px;
    border: 0;
    text-align: center;
    margin-block: 10px;
    background-color: var(--secondary-bg-color);
    color: var(--text-color);
    font-weight: bold;
    appearance: none;
}


button.add::before {
    content: "Aggiungi Materia";
    font-size: 14px;
    color: var(--text-color);
}

button.add-voto::before {
    content: "Aggiungi Voto";
    font-size: 14px;
    line-height:1.65;
}

button.calc-needed::before {
    content: "Calcola suff.";
    font-size: 14px;
    line-height:1.65;
}

button.remove-all::before {
    content: "Rimuovi voto";
    font-size: 14px;
    line-height:1.65;
}

button.canc::before {
    content: "Cancella Materia";
    font-size: 14px;
}

button.add-index::before {
    content: "+";
    font-size: 30px;
    line-height: 25px;
    color: var(--text-color);
}


button.canc, button.add, button.calc-needed, button.remove-all{
    display: flex;
    justify-content: center;
    background-color: var(--nav-color);
    width: 50%;
    height: 50px;
    border-radius: 10px;
    margin-inline: 0;
}

button.add-index{
    height: 25px;
    margin-top:10px;
    border:0;
    fontweight:lighter;
}

.media-tot {
    height: 85px;
    width: 85px;
    line-height: 85px;
    font-size: 30px;
    border-radius: 50%;
    margin-inline: 25%;
    margin-top: -10px;
    background-color: var(--bg-blue);
    color: var(--color-blue);
    font-weight: bold;
}

i {
    font-size: 40px;
}

.first {
    width: 94.5% !important;
    transition: .3s;
}

.column {
    display: flex;
    flex-direction: column;
}

.intro h4,
.intro i {
    margin-top: 0em;
}

.hidden {
    display: none;
    transition: .3s;
}

.delete-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 0;
    line-height: 40px;
    align-items: center;
    margin-right: -120px;
    margin-top: 15px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 10px;
}

.delete-button_news {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 0;
    line-height: 40px;
    align-items: center;
    margin-right: -210px;
    margin-top: -6px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 10px;
}

i.mini {
    font-size: 20px;
    margin-top: 5px;
    color: var(--secondary-bg-color);
}

.presentation {
    margin-left: 5px;
}

.avviso {
    color: var(--secondary-text-color);
    text-align: center;
    margin-left: 50px;
}

h5.avviso {
    text-align: left;
    margin-left: 5px;
    margin-bottom: -5px;
}

.modulo input {
    margin-inline: 15%;
    width: 70%;
    border: 2px solid var(--bg-color);
    border-radius: 15px;
    padding: 5px;
}

.moduli {
    background-color: var(--secondary-bg-color);
    border-radius: 10px;
    padding-block: 30px;
}

.close-modulo {
    position: absolute;
    top: 5%;
    right: 10%;
    border: 0;
    color: var(--text-color);
}

.head {
    background-color: var(--secondary-bg-color);
    margin-top: -4px;
    margin-left: -200px;
    font-size: 30px;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 10px;
}
nav {
    margin-bottom: 30px;
    margin-inline: 3px;
    background-color: var(--nav-color);
    padding: 10px;
    padding-inline: 25px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    gap: 25%;
    padding-top: 12px;
}

nav a i {
    color: var(--text-color);
    font-size: 20px !important;
}

nav a i.on {
    color: var(--bg-color);
    background-color: var(--text-color);
    padding: 7px;
    margin: -7px;
    border-radius: 50%;
}

.description hr {
    margin-block: 25px;
}

a {
    color: var(--color-blue);
}

.description h4 {
    margin: 0 !important;
}

.description {
    background-color: var(--secondary-bg-color);
    border-radius: 10px;
    margin-top: 20px;
    padding: 5px;
    padding-inline: 15px;
}

hr {
    margin-block: 0px;
}

footer {
    background-color: var(--secondary-bg-color);
    margin-block: 15px;
    border-radius: 10px;
    padding: 5px;
    padding-inline: 15px;
    color: var(--secondary-text-color);
}

.document {
    color: var(--secondary-text-color);
}

.btn{
    color: var(--text-color);
    background-color: var(--nav-color);
    border: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

input[type="time"]{
    position: relative;
    top: -7.5px;
    margin-right: 15px;
}

.reverse{
    display: flex;
    flex-direction: column-reverse;
    margin-top: -25px;
}

.e404{
    position: absolute;
    text-align: center;
    left: 25%;
    top: 5%;
    opacity: .5;
}

.e404 h2{
    margin-bottom: -30px;
    font-size: 100px;
}

/* Aggiunta di leggere ombre a tutti i bottoni, input e select */
button, input, select, .linea, .media-tot, .mediaf {
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}